@charset "utf-8";
/* CSS Document */

#title {
	font-family:helvetica;
	font-size:70px;
	margin-top: 40px;
	margin-left: 532px;
	margin-right: 532px;
	margin-bottom: 0px;
	color: white;
	float:left;

}
#subtitle {
	font-family:helvetica;
	font-size:40px;
	margin-top: 0px;
	margin-left: 810px;
	margin-right: 810px;
	margin-bottom: 0px;
	color: white;
	float:left;

}
#container {	
	width: 1902px;	
	height: 932px;	
	float: left;	
	background: white; /*gray*/
	border-width: 1px;
	border-style: solid;
	border-color: white;
}
#mast {
	width: 1902px;	
	height: 174px;	
	float: left;
	margin-bottom:10px;	
	background: #80B8FA; /* #00F*/
}
#textbox {
	width: 838px;	
	height: 70px;	
	float: left;
	margin-top:40px
	margin-left:auto 
	margin-right:auto
	margin-bottom:0px;	
	background: red; 
}
#leftCol {
	width: 946px;	
	height: 738px;	
	float: left;
	margin-right:5px; 
	margin-left:0px;
	margin-bottom:10px;
	background: #ABE8F0; /* #4FF*/
}
#inplacebox {
	width: 363px;	
	height: 101px;	
	float: left;
	margin-right:284px; 
	margin-left:284px;
	margin-top:65px;
	background: white;
	border-width: 5px;
	border-color: #80B8FA;
	border-style: solid
}
#inplacetext {
	font-family:helvetica;
	font-size:40px;
	margin-right: 0px;
	margin-left: 77px;
	margin-top: 32px;
	margin-bottom: 32px;
	color: #80B8FA;
	float:left;
}
#imageplaceholder {
	width: 657px;	
	height: 485px;	
	float: left;
	margin-right:137px; 
	margin-left:137px;
	margin-top:31px;
}
#rightCol{
	width: 946px;	
	height: 738px;	
	float: left;
	margin-top: 0px;
	margin-right:0px; 
	margin-left: 5px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	background: #ABE8F0; /* #FF0*/
}
#inspacebox {
	width: 363px;	
	height: 101px;	
	float: left;
	margin-right:284px; 
	margin-left:284px;
	margin-top:65px;
	background: white;
	border-width: 5px;
	border-color: #80B8FA;
	border-style: solid
}
#inspacetext {
	font-family:helvetica;
	font-size:40px;
	margin-right: 0px;
	margin-left: 77px;
	margin-top: 32px;
	margin-bottom: 32px;
	color: #80B8FA;
	float:left;
}
#imageplaceholder2 {
	width: 657px;	
	height: 485px;	
	float: left;
	margin-right:137px; 
	margin-left:137px;
	margin-top:31px;
}
#inplacemast {
	width: 946px;	
	height: 174px;	
	float: left;
	margin-bottom:10px;
	margin-right: 10px;	
	background: #80B8FA; /* #00F*/
	border-bottom-color: white;
	border-bottom-style: solid;
	border-bottom-width: 10px;
}
#backbutton {
	width: 40px;
	height: 25px;
	float:left;
	background: white;
	margin-left: 5px;
	margin-top: 5px;
}
#backbuttontext {
	font-family:helvetica;
	font-size:15px;
	margin-top: 3px;
	margin-left: 3px;
	margin-right: 0px;
	margin-bottom: 5px;
	color: #80B8FA;
	float:left;
}
#inplacetitle {
	font-family:helvetica;
	font-size:75px;
	margin-top: 53px;
	margin-left: 281px;
	margin-right: 281px;
	margin-bottom: 10px;
	color: white;
	float:left;
}
#augmentedrealitybox {
	width: 566px;	
	height: 101px;	
	margin-right:auto; 
	margin-left:auto;
	margin-top:0px;
	background: white;
	border-width: 5px;
	border-color: #80B8FA;
	border-style: solid
}
#augmentedrealitytext {
	font-family:helvetica;
	font-size:55px;
	margin-right: 0px;
	margin-left: 43px;
	margin-top: 23px;
	margin-bottom: 0px;
	color: #80B8FA;
}
/*#leftCol2 {
	width: 946px;	
	height: 922px;	
	margin-right:0px; 
	margin-left:0px;
	margin-bottom:0px;
	margin-top: 0px;
	background: white; 
}*/
#boxundercolumn {
	width: 946px;	
	height: 922px;	
	margin-right:10px; 
	margin-left:0px;
	margin-bottom:0px;
	margin-top:0px;
	float: left;
	background: #ABE8F0; /* #4FF*/
}
#imageplaceholder3 {
	width: 267.5px;	
	height: 389px;	
	float: left;
	margin-right:0px; 
	margin-left:44px;
	margin-top:39px;
	margin-bottom: 30px;
}
#imageplaceholder4 {
	width: 532px;	
	height: 389px;	
	float: left;
	margin-right:0px; 
	margin-left: 58.5px;
	margin-top:39px;
	margin-bottom: 30px;
}
#augmentedrealitybox2 {
	width: 566px;	
	height: 101px;	
	margin-left: 190px;
	margin-top:45px;
	background-color: white;
	border-style: solid;
	border-width: 5px;
	border-color: #80B8FA;
	float:left;
}
#augmentedrealitytext2 {
	font-family:helvetica;
	font-size:55px;
	margin-right: 0px;
	margin-left: 43px;
	margin-top: 20px;
	margin-bottom: 0px;
	color: #80B8FA;
}
#rightCol2 {
	width: 946px;	
	height: 922px;	
	float: left;
	margin-top: 0px;
	margin-right:0px; 
	margin-left: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	background: #ABE8F0; /* #FF0*/
}
#inplacetext2 {
	font-family:helvetica;
	font-size:75px;
	margin-right: 0px;
	margin-left: 281px;
	margin-top: 53px;
	margin-bottom: 0px;
	color: white;
}
#bodytext {
	font-family:garamond;
	font-size:20px;
	margin-right: 44px;
	margin-left: 44px;
	margin-top: 0px;
	margin-bottom: 30px;
	color: #707070;
}
#affordancestitle {
	font-family:helvetica;
	font-size:55px;
	margin-right: 0px;
	margin-left: 80px;
	margin-top: 73px;
	margin-bottom: 0px;
	color: white;
}
#bodytextaffordances {
	font-family:garamond;
	font-size:20px;
	margin-right: 92px;
	margin-left: 80px;
	margin-top: 5px;
	margin-bottom: 15px;
	color: #707070;
}
#constraintstitle {
	font-family:helvetica;
	font-size:55px;
	margin-right: 0px;
	margin-left: 80px;
	margin-top: 0px;
	margin-bottom: 0px;
	color: white;
}
#bodytextsculpture {
	font-family:garamond;
	font-size:20px;
	margin-right: 92px;
	margin-left: 80px;
	margin-top: 97px;
	margin-bottom: 15px;
	color: #707070;
}
#augmentedrealitytitle {
	font-family:helvetica;
	font-size:75px;
	margin-right: 470px;
	margin-left: 470px;
	margin-top: 50px;
	margin-bottom: 50px;
	color: white;
}
#augmentedleftbodytext {
	font-family:garamond;
	font-size:20px;
	margin-right: 233px;
	margin-left: 233px;
	margin-top: 40px;
	margin-bottom: 30px;
	color: #707070;
}
#imageplaceholderaugrealityleft {
	width: 844px;	
	height: 556.12px;	
	float: left;
	margin-right:44px; 
	margin-left:44px;
	margin-top:0px;
}
#imageplaceholderaugrealityright {
	width: 533px;	
	height: 246px;	
	float: left;
	margin-right:199px; 
	margin-left:199px;
	margin-top:40px;
	margin-bottom: 40px;
}
#bodytextright {
	font-family:garamond;
	font-size:20px;
	margin-right: 140px;
	margin-left: 140px;
	margin-top: 0px;
	margin-bottom: 0px;
	color: #707070;
}